{% extends "base_generic.html" %}

{% block content %}
    <h1>You're almost done</h1>
    <h2>Choose your payment</h2>
    {% if payment_list %}
        <form action="completeOrder" method="post">

        {% csrf_token %}
        <div class="form-group" id="Which of your cards" name="Which of your cards">
                <label>Pick Your Card</label>
                <select name="Card Choice Field">
        {% for payment in payment_list %}
                    <option value="{{payment.id}}">Ends in: {{ payment.last4 }} -- 
                        Exp: {{ payment.exp }} {{ payment.type }}</option>

            <!--<li>card {{payment.name}} -- {{payment.last4}}<button name="{{payment.id}}" value={{payment.id}}>Use this payment Card</button></li><br>-->
        {% endfor %}
                </select>
                <button>Charge it ship it</button>
        </div>
    {% endif %}
        <button type="submit" formaction="cardForm">Use different card</button><br>
        </form>
<!--
<button type="submit">Submit</button><br>
  <button type="submit" formaction="/action_page2.php">Submit to another page</button>

-->
     
        
    <!--<input type="submit" name="addCard" value="Add New Card">-->
    <!--
    <div class="payment">
        <form action="order" method=post>
        {% csrf_token %}
            <div class="form-group card_holder">
                <label for="card_holder">Card Holder</label>
                <input type="text" class="form-control" name="card_holder">
            </div>
            
            <div class="form-group CVV">
                <label for="cvv">CVV</label>
                <input type="text" class="form-control" id="cvv" name="cvv">
            </div>
            
            <div class="form-group" id="card-number-field">
                <label for="cardNumber">Card Number</label>
                <input type="text" class="form-control" id="cardNumber" name="cardNumber">
            </div>

            <div class="form-group" id="expiration-date" name="expiration_date">
                <label>Expiration Date</label>
                <select name="exp_month">
                    <Option value="01">January</Option>
                    <Option value="01">January</Option>
                    <Option value="01">January</Option>
                    <Option value="01">January</Option>
                    <Option value="01">January</Option>
                    <Option value="01">January</Option>
                    <Option value="01">January</Option>
                    <Option value="01">January</Option>
                    <Option value="01">January</Option>
                    <Option value="01">January</Option>
                    <Option value="01">January</Option>
                    <Option value="12">December</Option>
                </select>
            
                <select name="exp_year">
                    <option value="18">2018</option>
                    <option value="19">2019</option>
                    <option value="20">2020</option>
                    <option value="21">2021</option>
                </select>
            </div>

            <div class="form-group" id="pay-now">
                <button type="submit" class=btn btn-default id="confirm-purchase">Confirm</button>
            </div>

        </form>


    </div>
-->
{% endblock %}
