{% extends "base_generic.html" %}

{% block content %}
  <h1>Old Egg Web App Home</h1>
  <p>Welcome to OldEgg.com, a website developed by <em>Materialization Results</em>!</p>
  <h2>Dynamic content</h2>
  <p>The Website's database has the following record counts:</p>
  <ul>
    <li><strong>Products:</strong> {{ num_products }}</li>
    <li><strong>Quantity on Hand:</strong> {{ num_instances }}</li>
    <li><strong>Available:</strong> {{ num_instances_available }}</li>
    <li><strong>Number of Categorys:</strong>{{ num_categories }}</li>
    <li><strong>Brands:</strong> {{ num_brands }}</li>
    <!--<li><strong>Reccomend:</strong>{{reccomended}}</li> -->
  </ul>
  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

  <h1>Your Cart Contents:</h1>
  {% if cart.productList %}
  <form action = "/products/removeFromCart" method="post">
  {% csrf_token %}
  <ul>
  {% for product in cart.productList.all %}
    <li>{{product}} -- ${{product.price}}
      <input type="submit" name="choice" id="choice{{forloop.counter}}" value="{{product.itemNumber }}">  
    </li>
{% endfor %}
</ul>
  </form>Total: ${{cart.getTotal}}

<form action="/products/order" method="post">
  {% csrf_token %}
<input type="submit" name="order" id="order" value="order">
</form>

{% else %}
  <p>Is empty</p>
{% endif %}
{% endblock %}


<form action = "/products/addToCart" method="post">
  {% csrf_token %}
<ul>
{% for product in product_list %}
  <li>
    <input type="submit" name="choice" id="choice{{forloop.counter}}" value="{{product.itemNumber }}">
    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
    <!--<button type="submit" name="name" id="choice -1">Add To Cart
    </button><a href="{{ product.get_absolute_url }}">{{ product.name }}</a> ({{product.brand}})-->
    
  </li>
{% endfor %}
</ul>






