{% extends "base_generic.html" %}

{% block content %}
  <h1>We call it: {{ product.name }}</h1>
  <form action = "/products/addToCart" method="post">
    {% csrf_token %}

  <p><strong>Brand:</strong> <a href="">{{ product.brand }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Description:</strong> {{ product.description }}</p>
  <p><strong>Item Number:</strong> {{ product.itemNumber }}</p> 
  <p><strong>Price:</strong> {{ product.price }}</p><input type="submit" name="choice" value="{{product.itemNumber}}">
  <p><strong>Category:</strong> {% for category in product.category.all %} {{ category }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>  

  <div style="margin-left:20px;margin-top:20px">
    <h4>Qoh:</h4>

    {% for each in product.productinstance_set.all %}
      <hr>
      <p class="{% if each.status == 'a' %}text-success{% elif each.status == 't' %}text-danger{% else %}text-warning{% endif %}">{{ each.get_status_display }}</p>
      {% if each.status != 'a' %}
        <p><strong>Due to be reordered:</strong> {{each.reorder}}</p>
      {% endif %}
      <p><strong>Manufacturer:</strong> {{each.manufacturer}}</p>
      <p class="text-muted"><strong>Id:</strong> {{each.id}}</p>
    {% endfor %}
  </div>
</form>
{% endblock %}


<input type="submit" name="choice" id="choice{{forloop.counter}}" value="{{product.itemNumber }}">