{% extends "base_generic.html" %}

{% block content %}
  <h1>Product List</h1>
  {% if product_list %}
  <form action = "/products/addToCart" method="post">
      {% csrf_token %}
  <ul>
    {% for product in product_list %}
      <li>
        <input type="submit" name="choice" id="choice{{forloop.counter}}" value="{{product.itemNumber }}">
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        <!--<button type="submit" name="name" id="choice -1">Add To Cart
        </button><a href="{{ product.get_absolute_url }}">{{ product.name }}</a> ({{product.brand}})-->
        
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no products avaialable for sale</p>
  {% endif %}       
{% endblock %}
</form>